{% extends 'base.html' %} {% block inputs %} {%load static%}
<br>
<br>
<br>
<br>
<br>
<script>
    wow = new WOW({
        boxClass: 'wow', // default
        animateClass: 'animated', // default
        offset: 0, // default
        mobile: true, // default
        live: true // default
    })
    wow.init();
</script>
<div id="bigContainer" style="display:flex;justify-content:space-between">

    <div id="jhjh" style="width:60%;margin-left:5%">
        <h2 class="wow bounceInUp">Sunnynvest: <b>artificial inteligence applied to investment analysis</b></h2>
        <br>
        <h5 class="wow bounceInUp">the perfect tool for financial analysis of investments in solar power plants.</h5>
        <br>
        <h5 class="wow bounceInUp">impress your customer with an advanced financial report of potential investments photovoltaic energy</h5>
        <br>
        <div id="containerIMG" style="display:flex;flex-wrap:wrap;justify-content:space-between;align-content:space-between">
            <div class="imgG wow slideInLeft" style="width:150px;height:115px;background-image:url(/static/graph1.png);background-size:cover;"></div>
            <div class="imgG wow slideInLeft" style="width:150px;height:115px;background-image:url(/static/graph2.png);background-size:cover;"></div>
            <div class="imgG wow slideInLeft" style="width:150px;height:115px;background-image:url(/static/graph3.png);background-size:cover;"></div>
            <div class="imgG wow slideInLeft" style="width:150px;height:115px;background-image:url(/static/graph4.png);background-size:cover;"></div>
            <div class="imgG wow slideInLeft" style="width:150px;height:115px;background-image:url(/static/graph5.png);background-size:cover;"></div>
            <div class="imgG wow slideInLeft" style="width:150px;height:115px;background-image:url(/static/graph6.png);background-size:cover;"></div>
            <div class="wow slideInRight imgG" style="width:150px;height:115px;background-image:url(/static/graph7.png);background-size:cover;"></div>
            <div class="wow slideInRight imgG" style="width:150px;height:115px;background-image:url(/static/graph8.png);background-size:cover;"></div>
            <div class="wow slideInRight imgG" style="width:150px;height:115px;background-image:url(/static/graph9.png);background-size:cover;"></div>
            <div class="wow slideInRight imgG" style="width:150px;height:115px;background-image:url(/static/graph10.png);background-size:cover;"></div>
            <div class="wow slideInRight imgG" style="width:150px;height:115px;background-image:url(/static/graph11.png);background-size:cover;"></div>
            <div class="wow slideInRight imgG" style="width:150px;height:115px;background-image:url(/static/graph12.png);background-size:cover;"></div>
        </div>
        <p class="wow bounceInUp">For a robust investment analysis and feasibility study, various tools can be used. The most common financial tools such as cash flow, intern return rate, modified intern return rate, net present value, equivalent annual annuity, profitability
            index, traditional payback, discounted payback and Pareto chart are considered a must regarding to any kind of investment analysis.</p>
        <p class="wow bounceInUp">In addition to the traditional financial tools, statistics tools such as time series regressions, probability theory and Monte Carlo simulation together with sensitive analysis can be used to predict returns and measure risks.Sunnynvest also makes
            inferences in case you decide to postpone when you do the investment. It considers that the price of photovoltaic energy has been changing with time, consequently giving a better overview of how an investment will perform. Sunnynvest makes
            use of all this tools and provides a full report generated by a <b>Artificial Inteligence engine.</b></p><br>
        <p class="wow bounceInUp">Sunnynvest stores all your project's simulation in a database that way any of your projects can be reloaded from the profile page.to load a project, log in your account, click on profile tab and then choos your project on the dropdown menu shown
            in your profile followed by a click on the button load project.</p>
        <br>
        <div style="display:flex;flex-wrap:wrap;justify-content:center;align-content:center">
            <img class="imgGold wow bounceInUp" style="margin-top:5px;width:440px;height:260px" src={% static 'pf.png' %}></img>
        </div>
        <br>
        <br>
        <p class="wow bounceInUp">Sunnynvest is also available in desktop version, it was firstly called Solinvest and can be considered the version 1 of the software, if your interested in the desktop version dont hesitate to contact us. The desktop version includes all the analasis
            of the web version but it has less options of porbability distributions to choose in case of variable inputs.</p>
        <br>
        <div style="display:flex;flex-wrap:wrap;justify-content:center;align-content:center">
            <img class="imgGold wow bounceInUp" style="margin-top:5px;width:440px;height:260px" src={% static 'interface1-min.png' %}></img>
        </div>
        <br>
        <br>

        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
        <div id="pc" style="display:flex;justify-content:space-between;" class="wow bounceInUp">
            <div style="margin-right:20px">
                <img width="150px" height="200px" style="margin-top:5px" src={% static 'eu.jpeg' %}><img>
                <div style="display:flex;justify-content:space-evenly;margin-top:4px">
                    <a href="https://www.facebook.com/joao.h.cavalcanti.5"><i class="fab fa-facebook-f"style="color:black;font-size:38px"></i></a>
                    <a href="mailto:jh_gcc@hotmail.com"><i class="fa fa fa-envelope" style="color:black;font-size:38px"></i></a>
                    <a href="https://www.linkedin.com/in/joao-henrique-cavalcanti-774b45a4/"><i class="fab fa-linkedin" style="color:black;font-size:38px"></i></a>
                    <a href="https://wa.me/36702357237?text=I'm%20interested%20in%20Sunnynvest%20software"><i class="fab fa-whatsapp" style="color:black;font-size:38px"></i></a>
                </div>
                <p style="text-align:center;">My CV: <a href="{% static 'CV.pdf' %}">View CV</a></p>
            </div>
            <div>
                <h2><b>Joao Henrique Cavalcanti, developer and Sunnynvest creator</b></h2>
                <p>Hello i am Joao Henrique, Engineer, with academic and professional experience in data analytics, data science, finances, solar energy and web devlopment. The desktop version of this software is resulted from a conclusion Bsc project in
                    Production engineering done in the Federal University of Rio Grande do Norte, and the web version is Msc thesis project in Engineering management completed in University of Debrecen. You can contact me on Linkedin/Whatsapp/Facebook
                    or view my cv by clicking on the icons below my picture.
            </div>
        </div>
        <div id="celular" style="display:none">
            <div style="display:flex;justify-content:space-between;" class="wow bounceInUp">
                <div style="margin-right:20px">
                    <img width="150px" height="200px" style="margin-top:5px" src={% static 'eu.jpeg' %}><img>
                    <div style="display:flex;justify-content:space-evenly;margin-top:4px">
                        <a href="https://www.facebook.com/joao.h.cavalcanti.5"><i class="fab fa-facebook-f"style="color:black;font-size:38px"></i></a>
                        <a href="mailto:jh_gcc@hotmail.com"><i class="fa fa fa-envelope" style="color:black;font-size:38px"></i></a>
                        <a href="https://www.linkedin.com/in/joao-henrique-cavalcanti-774b45a4/"><i class="fab fa-linkedin" style="color:black;font-size:38px"></i></a>
                        <a href="https://wa.me/36702357237?text=I'm%20interested%20in%20Sunnynvest%20software"><i class="fab fa-whatsapp" style="color:black;font-size:38px"></i></a>
                    </div>
                    <p style="text-align:center;">My CV: <a href="{% static 'CV.pdf' %}"><i class="fa fa-address-card" style="color:black;font-size:45px"></i></a></p>
                </div>
                <div>
                    <h2><b>Joao Henrique Cavalcanti, developer and Sunnynvest creator</b></h2>
                </div>
            </div>
            <p>Hello i am Joao Henrique, Engineer, with academic and professional experience in data analytics, data science, finances, solar energy and web devlopment. The desktop version of this software is resulted from a conclusion Bsc project in Production
                engineering done in the Federal University of Rio Grande do Norte, and the web version is Msc thesis project in Engineering management completed in University of Debrecen. You can contact me on Linkedin/Whatsapp/Facebook or view my CV
                by clicking on the icons below my pictire.</p>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div style="width:20%;margin-left:10%">
        <div class="sun">
            <div class="ray_box">
                <div class="ray ray6"></div>
                <div class="ray ray7"></div>
                <div class="ray ray8"></div>
                <div class="ray ray9"></div>
            </div>
            <div class="loadP"></div>
        </div>
        <div id="logo2" style="background:url(/static/lOGO.png);width:330px;height:70px;background-size: cover;background-repeat: no-repeat;"></div>
    </div>
</div>
<style>
    .imgG {
        margin-top: 4%;
        margin-bottom: 4%;
        z-index: -99999999999999999999;
    }
    
    @media only screen and (max-width: 700px) {
        #celular {
            display: initial !important;
        }
        #pc {
            display: none !important;
        }
        .sun {
            position: absolute !important;
            left: 45% !important;
            top: -25vh !important;
        }
        #logo2 {
            display: none;
        }
        #jhjh {
            width: 90% !important;
        }
        .imgGold {
            width: 250px !important;
            height: 162px !important;
        }
        #bigContainer {
            display: initial !important;
        }
        #containerIMG {
            justify-content: center !important;
        }
    }
    
    p {
        line-height: 2.5;
    }
    
    #logo2 {
        position: fixed;
        top: 60%;
        left: 65%;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: -99999999;
    }
    
    .sun {
        position: fixed;
        top: -20%;
        left: 70%;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: radial-gradient(circle at 50px 50px, orange, white);
        box-shadow: 0px 0px 40px 15px orange;
        z-index: -99999999;
    }
    
    .ray_box {
        position: absolute;
        margin: auto;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 70px;
        -webkit-animation: ray_anim 3s linear infinite;
        animation: ray_anim 3s linear infinite;
        z-index: -99999999;
    }
    
    .ray {
        animation: ray_anim2 2s linear infinite;
        -webkit-animation: ray_anim2 2s linear infinite;
        background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(207, 122, 24, 0.8) 50%, rgba(175, 185, 30, 0) 100%);
        background: linear-gradient(top, rgba(255, 0, 0, 0) 0%, rgba(207, 122, 24, 0.8) 50%, rgba(175, 185, 30, 0) 100%);
        margin-left: 10px;
        border-radius: 80% 80% 0 0;
        position: absolute;
        opacity: 0.1;
    }
    
    .ray6 {
        height: 300px;
        width: 50px;
        -webkit-transform: rotate(30deg);
        top: 77px;
        left: -60px;
    }
    
    .ray7 {
        height: 200px;
        width: 15px;
        -webkit-transform: rotate(70deg);
        top: 15px;
        left: -110px;
    }
    
    .ray8 {
        height: 250px;
        width: 30px;
        -webkit-transform: rotate(110deg);
        top: -130px;
        left: -150px;
    }
    
    .ray9 {
        height: 115px;
        width: 10px;
        -webkit-transform: rotate(150deg);
        top: -105px;
        left: -32px;
    }
    
    @-webkit-keyframes ray_anim2 {
        0% {
            width: 10%;
        }
        50% {
            width: 40%;
        }
        100% {
            width: 10%;
        }
    }
</style>
{% endblock %}