{% extends 'base.html' %} {% block inputs %}
<br>
<br>
<br>
<br>

<div class="container">
    <div class="col-md-5">
        <form method="post">
            <h3 style="text-align: center;">Change your password</h3>
            <br>
            <br> {% csrf_token %} {{form.as_p}}
            <br>
            <button class="btn btn-dark float-sm-left" name="sym" type="submit">Change</button>
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>
</div>
<style type="text/css">
    ul.errorlist {
        color: red;
    }
</style>
{% endblock %}