{% extends 'base.html' %}

{% block inputs %} 
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
	<div class="col-md-5">
	<form method="post">
	<h3>Insert your registered email</h3>
	<br>
	
{% csrf_token %}
 {{form.as_p}}
 
 <button class="btn btn-dark float-sm-left" name="sym" type="submit">Change</button>
</form>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style type="text/css">
  ul.errorlist{
    color:red;
  }
</style>
<script>
	function changeclasses(){
document.getElementById("id_email").className="form-control";
}
window.onload = function () {
	changeclasses()
}
 
</script>
{% endblock %}