{% extends 'base.html' %}

{% block inputs %} 
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="col-md-5">
 <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
 <button class="btn btn-dark float-sm-left" name="sym" type="submit">Change</button>
  </form>
</div>
</div>
<br>
<br>




<style type="text/css">
  ul.errorlist{
    color:red;
  }
</style>
<script type="text/javascript">
    function changeclasses(){
document.getElementById("id_new_password1").className="form-control";
document.getElementById("id_new_password2").className="form-control";
}
  window.onload = function () {
  changeclasses();
}

</script>

{% endblock %}