{% extends 'base.html' %} {% block inputs %} {%load static%}
<script>
    $(document).ready(function() {
        document.body.style.zoom = 1.0;
        setTimeout(function() {
            $(".load").css("display", "none");

        }, 1500);
    })
</script>
<br>
<br>
<div class="load" style="display:flex;justify-content:center;align-items:center;background-color:#333;z-index:99999999;overflow:hidden;position:absolute;left:0;top:0;bottom:0;right:0">
    <div style="display:initial" class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div id="carro">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active" id="imagem">
                <img class="carroIMG" src={% static 'carrousel1-min.jpg' %} alt="Los Angeles">
                <div class="carousel-caption" id="titulo1">

                    <div class="col-sm-6 cloud" id="titulo" style="background-color:black; opacity: 0.75;">
                        <br>
                        <h2>Sunnynvest</h2>
                        <br>
                        <p>Artificial inteligence applied to investment analysis</p>
                        <br class="brt">
                        <br class="brt">
                        <br>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>

            </div>
            <div class="carousel-item" id="imagem">
                <img class="carroIMG" src={% static 'carrousel2-min.jpg' %} alt="Chicago">
                <div class="carousel-caption" id="titulo2">

                    <div class="col-sm-6 cloud" id="titulo" style="background-color:black; opacity: 0.75;">
                        <br>
                        <h2>Impress your customer</h2>
                        <br>
                        <p>Advanced financial report of potential investments in photovoltaic energy</p>
                        <br class="brt">
                        <br class="brt">
                        <br>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="imagem">
                <img class="carroIMG" src={% static 'carrousel3-min.jpg' %} alt="New York">
                <div class="carousel-caption" id="titulo3">

                    <div class="col-sm-6 cloud" id="titulo" style="background-color:black; opacity: 0.75;">
                        <br>
                        <h2>Free</h2>
                        <br>
                        <p>Completly free web-based software</p>
                        <br class="brt">
                        <br class="brt">
                        <br>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>
<style>
    /* Hide/rearrange for smaller screens */
    
    @media screen and (max-width: 967px) {
        .carroIMG {
            height: 430px;
        }
        /* Hide captions */
        .carousel-caption {
            display: initial !important
        }
        #titulo3 {
            padding-bottom: 20% !important;
        }
        #titulo1 {
            padding-bottom: 20% !important;
        }
        #titulo2 {
            padding-bottom: 10% !important;
        }
        .brt {
            display: none;
        }
    }
    
    .carroIMG {
        width: 100%;
    }
    
    #titulo {
        margin: auto;
    }
    
    #titulo3 {
        padding-bottom: 10%;
    }
    
    #titulo2 {
        padding-bottom: 10%;
    }
    
    #titulo1 {
        padding-bottom: 10%;
    }
    
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    
    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }
    
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
    }
    
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

{% endblock %}