 {% extends 'base.html' %} {% block inputs %} {%load static%}

<style>
    body {
        background-image: url("{% static 'fundo.jpg' %}");
        background-repeat: no-repeat;
        background-size: 100% 115%;
        background-attachment: fixed;
    }
</style>
<script>
    $(document).ready(function() {
        document.body.style.zoom = 1.0;
        setTimeout(function() {
            $(".load").css("display", "none");

        }, 1500);
    })
</script>
<div class="load" style="display:flex;justify-content:center;align-items:center;background-color:#333;z-index:99999999;overflow:hidden;position:absolute;left:0;top:0;bottom:0;right:0">
    <div style="display:initial" class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> {% if modelo2 %}
<div class="modal" id="myModal2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Account created</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Login with your credentials to continue
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-dark float-sm-right" data-dismiss="modal">OK!</button>
            </div>

        </div>
    </div>
</div>
<style type="text/css">
    .modal-dialog {
        position: relative;
        top: 100px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999999999;
        overflow: auto;
        overflow-y: auto;
    }
</style>
<script>
    $('#myModal2').modal('show');
</script>
{% endif %}
<div id="llogin" class="container" style="height: 340px;width:330px ">

    <div class="container">
        <br>
        <div id="textologin">
            <p style="font-size:25px;color: white">Login</p>


        </div>


        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="apower">Username</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <i class="input-group-text fa fa-user transparent"></i>
                    </div>
                    <input type="text" class="form-control left-border-none" name="nome" required>
                </div>
            </div>
            <div class="form-group">
                <label for="apower">Password</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <i class="input-group-text fa fa-key transparent"></i>
                    </div>
                    <input type="text" class="form-control left-border-none" name="senha" required>
                </div>
            </div>
            <div style="display:flex;justify-content:space-between">
                <a href="{% url 'ps' %}" id="fpass">Forgot my password</a>
                <spam style="color:red;display:{{errorLogin}};font-size:12px">
                    wrong password or login
                </spam>
            </div>
            <a href="{% url 'register' %}" style="font-size:18px;float:left;color:black">Sign up</a>

            <br>

            <button id="butao1" class="btn btn-dark float-sm-right" type="submit" name="log" value="log">Login</button>

        </form>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<style>
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    
    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }
    
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
    }
    
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    #fpass {
        color: black;
        font-size: 12px;
        text-align: left;
    }
    
    #llogin {
        background-color: #FFFFF0;
        -webkit-border-radius: 40px 40px 40px 40px;
        -moz-border-radius: 40px 40px 40px 40px;
        -o-border-radius: 40px 40px 40px 40px;
        border-radius: 40px 40px 40px 40px;
    }
    
    #textologin {
        background-color: #343a40;
        text-align: center;
        -webkit-border-radius: 40px 40px 40px 40px;
        -moz-border-radius: 40px 40px 40px 40px;
        -o-border-radius: 40px 40px 40px 40px;
        border-radius: 40px 40px 40px 40px;
    }
    
    #butao1 {
        float: right;
    }
    
    .transparent {
        background-color: white !important;
        box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
        padding-top: 11px !important;
    }
    
    .left-border-none {
        border-left: none !important;
        box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
    }
</style>



{% endblock %}