{% extends 'base.html' %} {% block inputs %}{%load static%}
<div style="display:flex;justify-content:center;align-items:center;height:80vh;width:100vw">
    <div>
        <p><b>Radiation, inverters or panels price can't have negative values.<br> Please check the distributions of this inputs and see if there are possible negative values in the distribution range</b></p>
        <br>
        <img id='logo2' src={% static 'lOGO.png' %} style='margin-left: 22%;width:330px;height:70px'></img>
    </div>
</div>
{% endblock %}