<!DOCTYPE html>
<html>
<head id="content">
	<title></title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<button onclick="topFunction2()">bt</button>

</body>

<script type="text/javascript">
	function topFunction2() {
	
	var myvar = setInterval(function(){
   x=window.pageYOffset;
if (x==0) {
	window.clearInterval(myvar);
	return;}
    document.body.scrollTop = x-2;
  document.documentElement.scrollTop = x-2;
}, 1);   
	
}



</script>
</html>